html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
        

    